/* FONT FACE */

@font-face {
  font-family: "Lovato";
  src: url("/assets/fonts/Lovato-Light.woff2") format("woff2"),
    url("/assets/fonts/Lovato-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
